* {
    font-family: Arial;
}

#task-form {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #88888878;
}

#changes-form {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #88888878;
}

#changes-form form {
    background-color: white;
    border: 1px solid #333;
    width: 300px;
    padding: 20px;
}

#task-form form {
    background-color: white;
    border: 1px solid #333;
    width: 300px;
    padding: 20px;
}

#task-form h2 {
    margin-top: 0;
}

#changes-form h2 {
    margin-top: 0;
}

#task-form label {
    display: block;
}

#changes-form label {
    display: block;
}

#task-form form > * {
    margin-bottom: 5px;
}

#changes-form form > * {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 0;
}

.delete {
  font-family: Arial;
  font-size: 12pt;
  color: red;
}

.edit {
    font-family: Arial;
    font-style: italic;
    font-size: 8pt;
    text-decoration: underline;
}

#createdBy {
    font-family: Comic Sans MS;
    font-style: oblique;
    font-size: 10pt;
    position: absolute;
    left: 40px;
}