<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="input_errors" fileName="logs/input_errors.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="search" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="exceptions" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>
    <loggers>
        <root level="debug">
        </root>-
        <logger name = "exceptionsLogger" level = "error" >
                <appender-ref ref="exceptions" level = "error" />
        </logger>
        <logger name = "searchLogger" level = "info">
                <appender-ref ref="search" level = "info"/>
        </logger>
        <logger name = "inputErrorsLogger" level = "info">
                <appender-ref ref="input_errors" level = "info"/>
        </logger>
    </loggers>
</configuration>